.navbar-brand {
  margin-left: 20px; /* Adjusted to create space between brand and text */
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-brand:hover {
  color: #FFC2A1; /* Change brand color on hover */
}

.nav-link {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative; /* Required for the ::after pseudo-element */
}

/* Line Animation Code Below*/

/* Thin white line below the link */
.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: scaleX(0); /* Initially invisible */
  transition: transform 0.3s ease; /* Smooth animation */
}

/* Change text color and reveal line on hover */
.nav-link:hover {
  color: #FFC2A1;
}

.nav-link:hover::after {
  transform: scaleX(1); /* Reveal the line */
}

/* Prevent animation and hover effect for SignUp */
.nav-link.signup::after {
  content: none; /* Remove the line */
}

.nav-link.signup:hover {
  color: white; /* Keep the color unchanged */
}

/*Sign Up Button Styling*/
.nav-link.signup {
  background-color: #FF8D4F;
  border-radius: 5px;
}

/* Make Space Between logo and nav-link and items */
.nav-item {
  margin-left: 25px; /* Adjusted to create space between items */
}


@media only screen and (min-width: 1280px) and (max-width: 1900px){
  .navbar-nav{
    margin-left: 10% !important;
    margin-top: 2% ;
  }
  .signup{
    margin-left: 100px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}